<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>YouthsHairs &mdash; Services</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
<link rel="stylesheet" href="assets/fonts/icomoon/style.css">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/jquery-ui.css">
<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

<link rel="stylesheet" href="assets/css/bootstrap-datepicker.css">

<link rel="stylesheet" href="assets/fonts/flaticon/font/flaticon.css">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">


<link rel="stylesheet" href="assets/css/aos.css">

<link rel="stylesheet" href="assets/css/style.css">

</head>
<body>

	<div class="site-wrap">

		<div class="site-mobile-menu">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>




		<header class="site-navbar py-1" role="banner">

			<div class="container-fluid">
				<div class="row align-items-center">

					<div class="col-6 col-xl-2" data-aos="fade-down">
						<a href="/" class="text-black h2 mb-0"> <img alt=""
							src="assets/images/navbar-logo.png" width="100%">
						</a>
					</div>
					<div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
						<nav
							class="site-navigation position-relative text-right text-lg-center"
							role="navigation">

							<ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
								<li><a href="/">Trang Chủ</a></li>
								<li><a href="/services">Dịch Vụ</a></li>
								<li><a href="/about">Giới Thiệu</a></li>
								<li><a href="/booking">Đặt Lịch</a></li>
								<li><a href="/contact">Liên Hệ</a></li>
							</ul>
						</nav>
					</div>

					<div class="col-6 col-xl-2 text-right" data-aos="fade-down">
						<!-- 
						<div class="d-none d-xl-inline-block">
							<nav
								class="site-navigation position-relative text-right text-lg-center"
								role="navigation">
								<ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
									<li class="has-children"><a href="#">Khác</a>
										<ul class="dropdown">
											<li><a href="/admin">Quản Lý</a></li>
											<li><a href="/profile">Thông Tin Cá Nhân</a></li>
											<li><a href="/login">Đăng Xuất</a></li>
										</ul></li>
									<li><a href="/login">Đăng Nhập</a></li>
								</ul>
							</nav>
						</div>
						 -->

						<div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3"
							style="position: relative; top: 3px;">
							<a href="#" class="site-menu-toggle js-menu-toggle text-black"><span
								class="icon-menu h3"></span></a>
						</div>

					</div>

				</div>
			</div>

		</header>






		<div class="site-blocks-cover inner-page-cover"
			style="background-image: url(assets/images/hero_bg_2.jpg);" data-aos="fade"
			data-stellar-background-ratio="0.5">
			<div class="container">
				<div
					class="row align-items-center justify-content-center text-center">

					<div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
						<h2 class="text-white font-weight-light mb-2 display-1">Các
							Dịch Vụ Của Chúng Tôi!</h2>

						<p>
							<a href="/booking" class="btn btn-black py-3 px-5">Đặt Lịch
								Ngay!</a>
						</p>
					</div>
				</div>
			</div>
		</div>




		<div class="site-section">
			<div class="container">
				<div class="row justify-content-center mb-5">
					<div class="col-md-7">
						<h2
							class="site-section-heading font-weight-light text-black text-center">Các
							Dịch Vụ Tại Salon</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5" th:each="serv,state:${services}" >
						<div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7" align="center">
							<img alt="" th:src="@{|../../../../images/${serv.image}|}"
                             class="icon display-3 mb-4 d-block rounded-circle" width="60%" height="40%" >
							<h3 class="text-black h4">[[${serv.serviceName}]]</h3>
							<p>[[${serv.note}]]</p>
							<p>
								<strong class="font-weight-bold text-primary">[[${serv.price}]] VNĐ</strong>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="slide-one-item home-slider owl-carousel">

			<div class="site-section bg-light" th:each="serv,state:${serviceTop3}">
				<div class="container" >
					<div class="row" >
						<div class="col-lg-6 mb-5">
							<img th:src="@{|../../../../images/${serv.image}|}" alt="Image" class="img-md-fluid" width="500px" height="500px">
						</div>
						<div class="col-lg-6 bg-white p-md-5 align-self-center">
							<h2
									class="display-1 text-black line-height-1 site-section-heading mb-4 pb-3">Dịch Vụ Hot!</h2>
							<p class="text-black lead">
							<h3>[[${serv.serviceName}]]</h3>
							</p>
							<p class="text-black lead">
								<em>"[[${serv.note}]]"</em>
							</p>
							<p class="lead text-black">
								<b>Giá: </b><em>[[${serv.price}]] VND</em>
							</p>
						</div>
					</div>
				</div>
			</div>


		</div>

		<div class="site-section">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-12">
						<h2 class="mb-4 text-black">Hãy liên hệ ngay với chúng tôi để
							nhận được sự tư vấn!</h2>
						<p class="mb-0">
							<a href="/contact" class="btn btn-primary py-3 px-5 text-white">Liên
								Hệ Ngay!</a>
						</p>
					</div>
				</div>
			</div>
		</div>


		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="mb-5">
							<h3 class="footer-heading mb-4">Giới Thiệu</h3>
							<p>Đến với Tùng Ken Salon quý khách hàng sẽ được nhà tạo
							mẫu tóc Tùng Ken - Một trong những nhà tạo mẫu tóc hàng
							đầu của TP Thanh Hoá với vốn kinh nghiệm lâu năm nhưng anh vẫn luôn
							tìm tòi và sáng tạo để đưa đến cho khách hàng những mẫu tóc hợp
							thời trang, đẹp để khách hàng luôn cảm thấy hài lòng nhất.</p>
						</div>



					</div>
					<div class="col-lg-4 mb-5 mb-lg-0">
						<div class="row mb-5">
							<div class="col-md-12">
								<h3 class="footer-heading mb-4">Danh Mục</h3>
							</div>
							<div class="col-md-6 col-lg-6">
								<ul class="list-unstyled">
									<li><a href="/">Trang Chủ</a></li>
									<li><a href="/services">Dịch Vụ</a></li>
									<li><a href="/about">Giới Thiệu</a></li>
								</ul>
							</div>
							<div class="col-md-6 col-lg-6">
								<ul class="list-unstyled">
									<li><a href="/contact">Liên hệ</a></li>
									<li><a href="/booking">Đặt Lịch</a></li>
								</ul>
							</div>
						</div>

					</div>
					<!-- 
					<div class="col-lg-4 mb-5 mb-lg-0">


						<div class="mb-5">
							<h3 class="footer-heading mb-2">Đăng Nhập</h3>
							<p>Hay đăng nhập vào hệ thống để biết thêm các thông tin chi
								tiết.</p>

							<a class="btn btn-info text-white" id="button-addon2"
								href="/login"> Đăng Nhập </a>

						</div>

					</div>
 -->
				</div>
				<div class="row pt-5 mt-5 text-center">
					<div class="col-md-12">


						<p>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							Youth's Hairs | This template is made with <i
								class="icon-heart-o" aria-hidden="true"></i> by <a href="/"
								target="_blank">Youth's Hairs</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>

				</div>
			</div>
		</footer>
	</div>

	<script src="assets/js/jquery-3.3.1.min.js"></script>
	<script src="assets/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="assets/js/jquery-ui.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/jquery.stellar.min.js"></script>
	<script src="assets/js/jquery.countdown.min.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/bootstrap-datepicker.min.js"></script>
	<script src="assets/js/aos.js"></script>

	<script src="assets/js/main.js"></script>

</body>
</html>