<div class="row">

	<div class="col-xl-2 col-lg-3">
		<div class="card border-left-primary shadow  py-2">
			<div class="card-body">
               <div class=" no-gutters align-items-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Tìm Kiếm</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
						<input type="text" ng-keyup="search"
						   class="form-control bg-light border-0 small" placeholder="Nhập tên để tìm kiếm..."
						   aria-label="Search" ng-model="seachContact.fullName" ng-change="loadContactByCusName()">
                    </div>
               </div>
           </div>
		</div> <br>
		<div class="card border-left-primary shadow  py-2">
			<div class="card-body">
               <div class=" no-gutters align-items-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Số bản ghi hiển thị</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
							<select
							name="sizePage"
							class="custom-select"
							ng-model="pager.size"
							ng-change="pager.last()"
							ng-options="x for x in sizePage">
							</select>
                    </div>
               </div>
           </div>
		</div> <br>
		<div class="card border-left-primary shadow  py-2">
			<div class="card-body">
               <div class=" no-gutters align-items-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Các Liên Hệ</div>
                    <div class="form-check">
					  <label class="form-check-label">
						  <input type="radio" class="form-check-input" name="optradio" ng-model="seachContact.status"  ng-change="loadTableByStatus()" value="false">Chưa Xử Lý
					  </label>
					</div>
					<div class="form-check">
					  <label class="form-check-label">
						  <input type="radio" class="form-check-input" name="optradio" ng-model="seachContact.status" ng-change="loadTableByStatus()" value="true">Đã Xử Lý
					  </label>
					</div>
               </div>
           </div>
		</div>

	</div>

	<div class="col-xl-10 col-lg-9">
		<div class="card shadow border-left-info mb-4">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-info">Danh Sách Liên Hệ</h6>				
			</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-hover table-striped text-dark text-center">
						<thead class="thead-dark">
							<tr>
								<th>Họ Tên Khách Hàng</th>
								<th>Số Điện Thoại</th>
								<th>Email</th>
								<th>Trạng Thái</th>
								<th>Ngày Tạo</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat ="item in pager.items">
								<td>{{item.fullName}}</td>
								<td>{{item.phone}}</td>
								<td>{{item.email}}</td>
								<td>{{item.status == true ? 'Đã Xử lý' : 'Chưa Xử Lý'}}</td>
								<td>{{item.createDate}}</td>
								<td>
									<button class="btn btn-primary btn-circle" ng-click="showBookingSave(item)"
										data-toggle="modal" data-target="#NewBookingModal">
						                <i class="fas fa-calendar-plus"></i>
						            </button>
									<button ng-click="showDetail(item)"
										class="btn btn-info btn-circle" data-toggle="modal"
										data-target="#infoContactModal"> <i class="fas fa-info-circle"></i>
									</button>
									<button ng-click="delete(item)" class="btn btn-danger btn-circle"> <i
										class="fas fa-trash"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="text-center">
						<button ng-click="pager.first()" class="btn btn-info btn-circle" ng-disabled="disabledBtnFisrt">
							<i class="fas fa-angle-double-left"></i>
						</button>
						<button ng-click="pager.prev()" class="btn btn-info btn-circle">
							<i class="fas fa-angle-left"></i>
						</button>
						<button class="btn btn-info" disabled="disabled">{{pager.page + 1}} of {{pager.count}}</button>
						<button ng-click="pager.next()" class="btn btn-info btn-circle">
							<i class="fas fa-angle-right"></i>
						</button>
						<button ng-click="pager.last()" class="btn btn-info btn-circle" ng-disabled="disabledBtnLast">
							<i class="	fas fa-angle-double-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


